<div id="app" class="container m-2 p-0">
  <div class="row m-0 p-0 align-top">
    <div class="align-top col-2 p-0">
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" href="#configmgmt"
          class="btn-block rounded-top btn-dark text-left dropdown-toggle text-info pl-1">ConfigMgmt</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('OnboardCluster')"
          class="btn-block btn-secondary pl-4 text-left  border-0">Onboard Cluster</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('ClusterObj')"
          class="btn-block btn-secondary pl-4 text-left  border-0">Cluster Config</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('NamespaceObj')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Namespaces</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('compA')"
          class="btn-block btn-secondary pl-4 text-left bord border-0">K8s Objects</button>
      </div>
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" data-target="#policyagent"
          class="btn-block btn-dark text-info pl-1 text-left  dropdown-toggle">Policy Agent</button>
      </div>
      <div class="collapse" id="policyagent">
        <button type="button" v-on:click="routeTo('repository')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Template</button>
      </div>
      <div class="collapse" id="policyagent">
        <button type="button" v-on:click="routeTo('cluster')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Policy</button>
      </div>
      <div class="container m-0 p-0">
        <button type="button" v-on:click="routeTo('cluster')"
          class="btn-block btn-dark text-info pl-1 text-left">Network Policy</button>
      </div>
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" data-target="#tools"
          class="btn-block btn-dark text-info pl-1 text-left  dropdown-toggle">Tools</button>
      </div>
      <div class="collapse" id="tools">
        <button type="button" v-on:click="routeTo('repository')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Observe</button>
      </div>
      <div class="collapse" id="tools">
        <button type="button" v-on:click="routeTo('cluster')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Secure</button>
      </div>
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" data-target="#resources"
          class="btn-block btn-dark text-info pl-1 text-left  dropdown-toggle">Resources</button>
      </div>
      <div class="collapse" id="resources">
        <button type="button" v-on:click="routeTo('repository')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Repository</button>
      </div>
      <div class="collapse" id="resources">
        <button type="button" v-on:click="routeTo('cluster')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Cluster</button>
      </div>
    </div>
    <!-- <div class="col-1 m-0 p-0">
    </div> -->
    <div class="col-9 ml-3 pb-5  justify-content-end">
      <router-view></router-view>
      <!--  <namespaces hidenamespace=true></namespaces> -->
    </div>
    <div class="mt-5 fixed-bottom bg-dark overflow-auto" style="height: 50px;">
      <pre class="text-left text-success bg-dark m-0 p-0">\{{ globalobj.log }}</pre>
    </div>
  </div>
</div>
<script type="module">
  import cluster from './components/cluster.js';
  import repository from './components/repository.js';
  import OnboardCluster from './components/OnboardCluster.js';
  import NamespaceObj from './components/NamespaceObj.js';
  import namespace from './components/namespaceobjects/namespace.js';

  import ClusterObj from './components/ClusterObj.js';
  import LabelCluster from './components/clusterobjects/clusterLabel.js';
  import ClusterRole from './components/clusterobjects/clusterRole.js'; 
  import Selector from './components/clusterobjects/Selector.js'; 
  import ClusterObjectYaml from './components/clusterobjects/clusterobjectyaml.js';

  const routes = [
    { path: '/cluster', component: cluster, name: 'cluster' },
    { path: '/repository', component: repository, name: 'repository'},
    { path: '/OnboardCluster', component: OnboardCluster, name: 'OnboardCluster'},
    {
      path: '/NamespaceObj', component: NamespaceObj, name: 'NamespaceObj', children: [
      { path: '', redirect: 'namespace' },
      { path: 'namespace', component: namespace },
      ]
    },
    {
      path: '/ClusterObj', component: ClusterObj, name: 'ClusterObj', children: [
      { path: '', redirect: 'ClusterLabel'},
      { path: 'ClusterLabel', component: LabelCluster },
      { path: 'ClusterRole', component: ClusterRole },
      { path: 'Selector', component: Selector },
      { path: 'ClusterObjectManifest', component: ClusterObjectYaml },
      ]
    },
  ]

  const router = new VueRouter({
    routes
  })

  var app = new Vue({
    el: '#app',
    router: router,  
    methods: {
      routeTo(where) {
        const routeto = { name: where};
        this.$router.push(routeto);
      }
    }
  })
</script>