<div id="app" class="container m-2 p-0">
  <div class="row m-0 p-0 align-top">
    <div class="align-top col-2">
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" href="#configmgmt"
          class="btn-block rounded-top btn-dark text-left dropdown-toggle text-info pl-1">ConfigMgmt</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('OnboardCluster')"
          class="btn-block btn-secondary pl-4 text-left  border-0">Onboard Cluster</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('ClusterObj')"
          class="btn-block btn-secondary pl-4 text-left  border-0">Cluster Config</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('namespaces')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Namespaces</button>
      </div>
      <div class="collapse" id="configmgmt">
        <button type="button" v-on:click="routeTo('compA')"
          class="btn-block btn-secondary pl-4 text-left bord border-0">K8s Objects</button>
      </div>
      <div class="container m-0 p-0">
        <button type="button" data-toggle="collapse" data-target="#resources"
          class="btn-block btn-dark text-info pl-1 text-left  dropdown-toggle">Resources</button>
      </div>
      <div class="collapse" id="resources">
        <button type="button" v-on:click="routeTo('repository')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Repository</button>
      </div>
      <div class="collapse" id="resources">
        <button type="button" v-on:click="routeTo('cluster')"
          class="btn-block btn-secondary pl-4 text-left border-0 ">Cluster</button>
      </div>
    </div>
    <div class="col-1 m-0 p-0">
    </div>
    <div class="col-9 m-0 p-0  justify-content-end">
      <router-view></router-view>
      <!--  <namespaces hidenamespace=true></namespaces> -->
    </div>
  </div>
</div>
<script type="module">
  import cluster from './components/cluster.js';
  import repository from './components/repository.js';
  import OnboardCluster from './components/OnboardCluster.js';
  import namespaces from './components/namespaces.js';
  import ClusterObj from './components/ClusterObj.js';
  import LabelCluster from './components/clusterobjects/clusterLabel.js';

  const routes = [
    { path: '/cluster', component: cluster, name: 'cluster' },
    { path: '/repository', component: repository, name: 'repository'},
    { path: '/OnboardCluster', component: OnboardCluster, name: 'OnboardCluster'},
    { path: '/NameSpaces', component: namespaces, props: true, name: 'namespaces' },
    {
      path: '/ClusterObj', component: ClusterObj, name: 'ClusterObj', children: [
      { path: 'ClusterLabel', component: LabelCluster },
      ]
    },
  ]

  const router = new VueRouter({
    routes
  })

  var app = new Vue({
    el: '#app',
    router: router,  
    methods: {
      routeTo(where) {
        const routeto = { name: where};
        this.$router.push(routeto);
      }
    }
  })
</script>